#!/usr/bin/env bash

set -eEou pipefail

log() { printf 'LOG::%b\n' "$*" >&2; }

### Collect Project Data

declare -A _cfg=(
  [group_name]=""
  [group_dir]=""
  [project_name]=""
  [project_dir]=""
  [worktree_name]="${PWD##*/}"
  [worktree_dir]="${PWD}"
)
_cfg[project_dir]="${_cfg[worktree_dir]%/*}"
_cfg[project_name]="${_cfg[project_dir]##*/}"
_cfg[group_dir]="$(git rev-parse --show-toplevel)"; _cfg[group_dir]="${_cfg[group_dir]%/*}" # Ensures we capture the group directory even in a mono repo
_cfg[group_name]="${_cfg[group_dir]##"${HOME}/project/"}"
_cfg+=(
  [wt_src_dir]="${_cfg[worktree_dir]}/src"
  [wt_venv_dir]="${HOME}/.venv.d/${_cfg[group_name]}/${_cfg[project_name]}/${_cfg[worktree_name]}"
  [wt_venv_ln]="${_cfg[worktree_dir]}/.venv"
  [wt_cache_dir]="${HOME}/.cache/${_cfg[group_name]}/${_cfg[project_name]}/${_cfg[worktree_name]}"
  [wt_cache_ln]="${_cfg[worktree_dir]}/.cache"
)

### Export Env vars

# Group Vars
export GROUP_NAME="${_cfg[group_name]}"
export GROUP_DIR="${_cfg[group_dir]}"

# Project Vars
export PROJ_NAME="${_cfg[project_name]}"
export PROJ_DIR="${_cfg[project_dir]}"

# Worktree Vars
export WORK_NAME="${_cfg[worktree_name]}"
export WORK_DIR="${_cfg[worktree_dir]}"
export WORK_SRC="${_cfg[wt_src_dir]}"
export WORK_CACHE="${_cfg[wt_cache_ln]}"
export WORK_VENV="${_cfg[wt_venv_ln]}"

# Python Vars
export PYTHONPATH="${WORK_SRC}:${PYTHONPATH:-}"

# Load User Env
[[ ! -f "${_cfg[worktree_dir]}/.user.env" ]] || { source "${_cfg[worktree_dir]}/.user.env" || log "Failed to Load User Environment"; }
